<div>

  --- User Profile here ---
<div>
  # Following # Followers
  <div>
    Bio
  </div>
  #button to edit profile
  #add new buket
</div>

----All Buckets of User---
<% @buckets.each do |bucket| %>
  <ul>
    <%= bucket.title %>
    <%= bucket.caption %>
    <%= bucket.hashtags
  </ul>
<% end %>

</div>
