#body{
  background-color: #e6e6ff;
  margin-top: -39px;
  /*margin-bottom: 39px;*/
}
#main{
  margin: 40px;
}

.ui.three.stackable.link.cards{
  margin: 40px;
}
/*#navbar{
  background-color: #e6e6ff;
}*/
.logo{
  height: 38px;
  width: 97px !important;
}
#footer{
  margin: 10px;
  text-align: center;
}

.bucket-image{
  height: 200px !important;
  width: 100px !important;
}

.unfollow-button {
  text-transform: uppercase;
  border-color: #66bd2b;
  background-color: #66bd2b;
  color: white;
  margin-left: 20px;
  &:visited, &:focus, &:hover {
    border-color: #47821F;
    background-color: #47821F;
    color: white;
  }
}
