<% if current_user %>
  <%= current_user.username %>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete)%>
<% else %>
  <%= link_to('Sign in', new_user_session_path) %>
<% end %>

<!-- <div class="ui segment"> -->
  <div class="ui secondary menu">
    <a class="item" href='/'>
      <img src='http://www.wyklejanietablic.pl/cc/icon_2142.png' />   <i class="ui vertical divider"></i> Bucket
    </a>
    <div class="ui category search item">
      <div class="ui transparent icon input">
        <input class="prompt" type="text" placeholder="Search...">
          <i class="search link icon"></i>
      </div>
    <div class="results"></div>
    </div>
<a class="item" href='/explore'>
  <img src='/explore.png' />
</a>

<a class="item" href='#'>
  <img src='/heart.png' />
</a>
<a class="item" href="/buckets/<%= current_user.username %>">
  <img src='/profile.png' />
</a>
</div>
</div>
